@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.button-primary {
    background-color: #F66962;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.button-primary:hover {
    color: #fff;
    background-color: #e5615a;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: transparent;
    transition: 0.3s;
}

nav.scroll {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav .navbar-brand img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

nav ul li {
    margin: 0 10px;
}

.hero {
    background-color: #FEF0EF;
    padding: 80px 0;
}

.hero h1 {
    font-size: 5em;
    font-weight: bold;
}

.hero p {
    font-size: 1.5em;
    color: #605982;
}

.hero .input-group {
    width: 100%;
    border-radius: 5px;
    height: 60px;
    background-color: transparent;
    box-shadow: rgba(246, 105, 98, 0.5) 0px 13px 27px -5px, rgba(223, 78, 78, 0.3) 0px 8px 16px -8px;
}

.hero .input-group input {
    width: calc(100% - 70px);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.hero .input-group input:focus {
    outline: none;

}

.hero .input-group button {
    width: 70px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    background-color: #F66962;
    color: #fff;
}

.hero .box {
    /* background-color: red; */
    position: relative;
    height: 700px;
    /* width: 100%; */
}

.hero .box .video {
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 90%;
    border-radius: 24px;
}

.hero .box .video .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-decoration: none;
}

.hero .box .video .play i {
    color: #F66962;
}

.hero .box .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 24px;
}

.hero .box .border {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 0 3px #F68C1E;
}

.course {
    background-color: #EFEFF7;
    padding: 80px 0;
}

.course .filter select {
    border: none;
    background-color: transparent;
    text-align: right;
    margin-right: 20px;
}

.course .items .item {
    background-color: #fff;
    border-radius: 8px;
}

.course .items .item a {
    text-decoration: none;
    color: #333;
}

.course .items .item a:hover .item-header img {
    opacity: 1;
}

.course .items .item .item-header {
    padding: 15px;
}

.course .items .item .item-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.3s;
}

.course .items .item .item-header h4 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 5px;
}

.course .items .item .item-body {
    padding: 15px;
}

.course .items .item .item-body .instructor img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.course .items .item-body .instructor h4 {
    font-size: 1em;
    font-weight: 400;
    color: #666;
}

.course .items .item-body .price .discount {
    font-size: 1em;
    font-weight: 400;
    color: #666;
    text-decoration: line-through;
}

.course .items .item-body .price .now {
    font-size: 1.3em;
    color: #F68C1F;
}

.course .dots-nav button {
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #666;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.category {
    padding: 80px 0;
}

.category .card {
    text-decoration: none;
    color: #333;
    border: none;
}

.category .card.light {
    color: #fff;
}

.category .card .card-body .icon {
    width: 25%;
    border-radius: 5px;
}

.category .card .card-body .icon img {
    width: 100%;
    padding: 15px;
}

.category .card .card-body p {
    color: #888;
    font-weight: 300;
    line-height: 1.7;
}

.category .card.light .card-body p {
    color: #fff;
}

.join {
    padding: 150px 0;
    background-image: url('images/join.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.join h3 {
    color: #645D84;
    font-size: 1.3em;
    font-weight: 400;
}

.platform {
    padding: 80px 0;
}

.platform h2 {
    font-size: 3em;
}

.platform p {
    color: #6D678B;
    font-weight: 300;
    font-size: 1.2em;
}

.platform h5 {
    color: #6D678B;
    font-weight: 400;
}

.platform .box {
    position: relative;
    height: 600px;
}

.platform .box .image {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 95%;
    height: 95%;
}

.platform .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 50px;
}

.platform .box .bordered {
    position: absolute;
    right: 0;
    border-top-right-radius: 50px;
    border: 3px solid #F68C1E;
    height: 95%;
    width: 95%;
}

.review {
    background-color: #EFEFF7;
    padding: 80px 0;
}

.review .nav button {
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #F66962;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.review .items .item {
    padding: 20px;
    background-color: #fdfcff;
    color: #8D8E94;
    border-top-right-radius: 40px;
    border-left: 4px solid #F68C1E;
}

.review .items .item h6 {
    font-weight: 400;
}

.review .items .item p {
    font-weight: 300;
}

.review .owl-dots {
    margin-top: 30px !important;
}

.review .items .item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.partner {
    padding: 80px 0;
}

.partner .nav button {
    height: 40px;
    width: 40px;
    background-color: #EFEFF7;
    color: #F66962;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.partner .items .item {
    padding: 5px 20px;
}

.partner .items .item img {
    width: 100%;
    height: 70px;
    object-fit: contain;
}

.partner .owl-stage {
    padding: 10px 0;
}

.partner .owl-item.center {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register {
    padding: 80px 0;
    background-color: #FEF0EF;
}

.register .card {
    border: none;
    padding: 25px;
}

.register .card .card-body img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    padding: 60px 0 20px 0;
    background-color: #282834;
    color: #8D8E94;
}

footer h3 {
    color: #fff;
    font-size: 1.4em;
}

footer ul {
    margin-top: 25px;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin: 15px 0;
}

footer ul li a {
    color: #8D8E94;
    text-decoration: none;
}

footer ul li a:hover {
    color: #b3b3b3;
}